<!-- components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/" title="Go to Home">
            <i class="fas fa-graduation-cap"></i> {{ conference.name or 'Conference' }}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarMain" aria-controls="navbarMain" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto">
                {% if user_role == 'guest' %}
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'profile' %}active{% endif %}" href="/guest" data-bs-toggle="tooltip" title="View and edit your details">
                        <i class="fas fa-user"></i> My Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" data-bs-toggle="tooltip" title="Sign out">
                        <i class="fas fa-right-from-bracket"></i> Logout
                    </a>
                </li>
                {% elif user_role == 'admin' %}
                <li class="nav-item"><a class="nav-link {% if active_page == 'admin' %}active{% endif %}" href="/admin" data-bs-toggle="tooltip" title="Admin dashboard"><i class="fas fa-gauge"></i> Admin</a></li>
                <li class="nav-item"><a class="nav-link {% if active_page == 'guests' %}active{% endif %}" href="/admin/guests" data-bs-toggle="tooltip" title="Manage guests"><i class="fas fa-users"></i> Guests</a></li>
                <li class="nav-item"><a class="nav-link {% if active_page == 'settings' %}active{% endif %}" href="/admin/settings" data-bs-toggle="tooltip" title="Conference settings"><i class="fas fa-gear"></i> Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout" data-bs-toggle="tooltip" title="Sign out"><i class="fas fa-right-from-bracket"></i> Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link {% if active_page == 'login' %}active{% endif %}" href="/login" data-bs-toggle="tooltip" title="Login as guest or admin"><i class="fas fa-right-to-bracket"></i> Login</a></li>
                {% if conference.registration_open %}
                <li class="nav-item"><a class="nav-link {% if active_page == 'register' %}active{% endif %}" href="/register" data-bs-toggle="tooltip" title="Register as a guest"><i class="fas fa-user-plus"></i> Register</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link disabled" href="#" aria-disabled="true" data-bs-toggle="tooltip" title="Registration is currently closed"><i class="fas fa-user-plus"></i> Registration Closed</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
